.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50%;
  padding-bottom: 10%;
}

.App-link {
  color: #09d3ac;
}

.Home-header {
  width: 500px;
  overflow: hidden;
  top: 13vh;
  position: relative;
  margin: auto;
}

.Printer-stats-header {
  width: 500px;
  overflow: hidden;
  position: relative;
  margin: auto;
  bottom: 25px;
}

.Header-text {
  font-family: 'Lobster', cursive;
  font-size: 12vmin;
  background: -webkit-linear-gradient(#38ef7d, #11998e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float:left;
}

.Header-logo {
  float:left;
  width: 230px;
}

.Home-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #F8F8F8;
  background-color: #0eba48;
  display:inline-block;
  margin: 0 0 25px 0;
  padding: 20px;
  box-shadow: 0px 7px #0ca540;
  border-radius: 3px;
  position: relative;
  top: 10vh;
  cursor: pointer;
}

.Home-printer-status {
  float: left;
  position: absolute;
  bottom: 0;
  left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.Home-container {
  background-color: #a3f0b8;
  background-color: rgba(163, 240, 184, 0.87);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Printer-status-container {
  background-color: #a3f0b8;
  background-color: rgba(163, 240, 184, 0.87);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}