.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 50%;
  padding-bottom: 10%;
}

.App-link {
  color: #09d3ac;
}

.Home-header {
  width: 500px;
  overflow: hidden;
  margin: auto;
}

.Home-header-text {
  font-family: 'Lobster', cursive;
  font-size: 12vmin;
  background: -webkit-linear-gradient(#38ef7d, #11998e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float:left;

}

.Home-header-logo {
  float:left;
  width: 230px;
}

.Home-printer-status {
  float: left;
  position: absolute;
  bottom: 0;
  left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}