html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #078f74;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #078f74;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #078f74;
}

input:focus {
  outline:0;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  -webkit-appearance: none;
  user-select: initial;
}

.alice-carousel {
  bottom: 8vh;
}

.slide, .slide > div {
  background-color: transparent !important;
}

.Printing-screen-header {
  font-weight: bold;
  font-size: 200px;
}